<div class="client-add-wrapper">
    <h2>New Client</h2>
    <form (ngSubmit)="addClient()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="client.name" name="name" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <input matInput [(ngModel)]="client.notes" name="notes">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Industry</mat-label>
        <input matInput [(ngModel)]="client.industry" name="industry">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Add Client</button>
    </form>
  </div>